.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
    left: 200px;
    top: 5%;
    width: 25%;
    background-color: #fff;
    color: rgb(0, 0, 0);
}
  
.dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #9fc3f870;
}

.dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;
}

.button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    text-align: left;
    position: absolute;
    left: 100px;
    top: 98%;
    width: 25%;
  }

  .button:active {
    background-color: #990000;
    transform: translateY(2px);
  }

.myText {
    font-size: 32px;
    text-align: left;
    position: relative;
    left: 200px;
    top: 30%;
    width: 25%;
}