.todoapp{
    position: absolute;
    font:'Coolvetica';
    text-align: center;
    left: 10%;
    color: whitesmoke;
}

.stack-large{
    position: absolute;
}
.input{
    background-color: rgba(255, 255, 255, 0.612);
}

.todo{
    margin-left: 55px;
}